<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>10</maxDepthPerThrowable>
                <maxLength>1000</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
            </throwableConverter>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Logger cookies dersom den ikke parses riktig, noe vi ikke ønsker -->
    <logger name="org.apache.tomcat.util.http.parser.Cookie" level="OFF" />

    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.cxf" level="ERROR"/>
    <logger name="no.nav.common.cxf" level="ERROR"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" level="ERROR"/>
    <logger name="no.nav" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="com.zaxxer.hikari.pool" level="INFO" />
    <logger name="io.ktor.auth" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
